.search-input {
  background-image: url("../../Assets/images/search.svg");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 9px;
  background-color: #eff3f4;
  padding-left: 50px;
  width: 203px;
  height: 40px;
  border-radius: 25px;
  border: transparent;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5c6c79;
}
